/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*	Header Start*/
header{
	padding: 5px 0;
}
.logo {
    width: 150px;
}
.menu ul{
	align-items: start;
}
.menu ul li a {
    padding: 0 0 12px 6px !important;
}

.s_btn {
    margin-left: 4px;
    padding: 0 !important;
    font-weight: 500;
    color: var(--b);
    background-color: var(--lg);
    border-bottom: 2px solid var(--r);
    border-radius: 0;
}
/*Banner Start*/
.banner {
    padding: 10px 0 65px 0;
}
.b_img {
	margin-bottom: 30px;
    padding: 0 70px;
}
.b_h1 {
    padding-right: 46px;
    font-size: 28px;
    line-height: 40px;
}
.b_p2 {
    padding: 0;
    font-size: 15px;
    line-height: 28px;
}
.b_btn {
    padding: 8px 25px;
}
/*Feature Start*/
.c_pad{
    padding-bottom: 45px;
}
.f_item{
    margin: 30px auto;
    padding-top: 45px;
    width: 240px;
    height: 240px;
}
.f_h2{
    font-size: 22px;
}

.f_p{
    font-size: 15px;
}
/*Online Course Start*/
.online{
    padding-bottom: 45px;
}
.oc_h1 {
    font-size: 25px;
}

.single_item {
    margin-top: 30px;
    padding: 21px 16px;
}
.left ul li i, .right ul li i{
    font-size: 20px;
}
.left ul li span, .right ul li span{
    font-size: 15px;
}
.uli:not(:last-child) {
    margin-right: 0;
}
/*Testomonial Start*/
.testomonial{
    margin-bottom: 20px;
}
.c_pad {
    padding-bottom: 45px;
}
.t_h1 {
    margin-bottom: 50px;
}
.t_img {
    margin-bottom: 25px;
    text-align: center;
}
.t_img img {
    width: 125px;
    height: 125px;

}
.t_text {
/*    padding: 0 5px;*/
    text-align: center;
    margin-left: 0;
}
.t_p {
    line-height: 28px;
}
.prv{
   display: none;
}

.nxt{
    display: none;
}
.tm_indi {
    bottom: -13%;
}
/*Footer Start*/
.f_1 {
    text-align: center;
}

.f_1 p {
     margin:0; 
}
.f_2 {
    text-align: center;
}
.f_2 h2 {
    font-size: 17px;
    margin-top: 35px;
    margin-bottom: 15px;
}
.f_2 p {
    font-size: 15px;
    margin-bottom: 13px;
}
.copyright p {
    font-size: 15px;
    margin: 45px 0 0;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*	Header Start*/
header{
	padding: 5px 0;
}
.logo {
    width: 180px;
}	
.menu ul{
	align-items: start;
}
.menu ul li a {
    padding: 0 0 12px 4px !important;
}
.s_btn {
    margin-left: 4px;
    padding: 0 !important;
    font-weight: 500;
    color: var(--b);
    background-color: var(--lg);
    border-bottom: 2px solid var(--r);
    border-radius: 0;
}
/*Banner Start*/
.b_text {
    text-align: center;
}
.b_img {
	margin-bottom: 30px;
    padding: 0 70px;
}
.b_h1 {
	margin: 10px 0 15px 0;
	padding: 0 102px;
	font-size: 35px;
	line-height: 46px;
    
}
.b_p2 {
    padding: 0 40px;
    line-height: 30px;
}
/*Feature Start*/
.c_pad{
    padding-bottom: 60px;
}
.f_h2{
    font-size: 23px;
}
/*online Course Start*/
.online{
    padding-bottom: 60px;
}
.oc_h1 {
    font-size: 25px;
}
.single_item {
    margin: 30px 80px 0 80px;
}
.left ul li i, .right ul li i{
    font-size: 20px;
}
/*Testomonial Start*/
.testomonial{
    margin-bottom: 20px;
}
.c_pad {
    padding-bottom: 60px;
}
.t_h1 {
    margin-bottom: 50px;
}
.t_img {
    margin-bottom: 25px;
    text-align: center;
}
.t_img img {
    width: 125px;
    height: 125px;

}
.t_text {
    padding: 0 5px;
    text-align: center;
    margin-left: 0;
}
.t_p {
    line-height: 28px;
}
.prv{
   display: none;
}

.nxt{
    display: none;
}
.tm_indi {
    bottom: -20%;
}
/*Footer Start*/
.f_1 {
    text-align: center;
}
.f_1 p {
    padding: 0 60px 30px 60px;
     margin:0; 
}
.f_2 {
    text-align: center;
}
.f_2 p {
    margin-bottom: 18px;
}
.copyright p {
    margin: 60px 0 0;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*	Header Start*/
header{
	padding: 0;
}
.menu ul{
	align-items: start;
}
.menu ul li a {
    padding: 0 0 12px 4px !important;
}

.s_btn {
    margin-left: 4px;
    padding: 0 !important;
    font-weight: 500;
    color: var(--b);
    background-color: var(--lg);
    border-bottom: 2px solid var(--r);
    border-radius: 0;
}
/*Banner Start*/
.b_text {
    text-align: center;
}
.b_img {
	margin-bottom: 30px;
    padding: 0 110px;
}
.b_h1 {
	padding: 0 170px;
	font-size: 40px;
	line-height: 50px;
    
}
.b_p2 {
    padding: 0 105px;
    line-height: 30px;
}


/*online Course Start*/
.online{
    padding-bottom: 70px;
}
.single_item {
    margin: 40px 150px 0 150px;
}
/*Testomonial Start*/
.testomonial{
     margin-bottom: 30px;
}
.c_pad {
    padding-bottom: 70px;
}
.t_h1 {
    margin-bottom: 60px;
}
.t_img {
    margin-bottom: 25px;
    text-align: center;
}
.t_text {
    padding: 0 20px;
    text-align: center;
    margin-left: 0;
}
.prv{
    left: -4.5%;
    bottom: -55%;
}

.nxt{
    right: -4.5%;
    bottom: -55%;
}
.tm_indi {
    bottom: -24%;
}
/*Footer Start*/
.f_1 {
    text-align: center;
}
.f_1 p {
    padding: 0 150px 30px 150px;
     margin:0; 
}
.f_2 {
    text-align: center;
}
.f_2 p {
    margin-bottom: 20px;
}
.copyright p {
    margin: 65px 0 0;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*	Banner Start*/
.b_h1 {
    padding-right: 30px;
}
.b_p2 {
    padding-right: 15px;
}
/*Online Course Start*/
.left ul li i, .right ul li i{
    font-size: 20px;
}
.left ul li span, .right ul li span{
    font-size: 15px;
}
.uli:not(:last-child) {
    margin-right: 0;
}
.single_item {
    padding: 21px 16px;
}
/*Testomonial start*/
.t_text {
    margin-left: 60px;
}
/*Footer Start*/
.f_1 p {
    margin: 7px 0 0;
}
}

/*Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
/*	Banner Start*/
.b_h1 {
    padding-right: 25px;
}
.b_p2 {
    padding-right: 10px;
}
/*Testomonial start*/
.t_text {
    margin-left: 35px;
}
/*Footer Start*/
.f_1 p {
    padding-right: 60px;
}
}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
/*    Footer Start*/
.f_1 p {
    padding-right: 20px;

}
}